<html>
<head>
    <title>Uni_APPKids</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-custom-tpls-0.8.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/UniAppSpelApp")
    @Scripts.Render("~/bundles/Scripts")
    <script src="~/Scripts/Services/userService.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>

